<div class="container">
    <h1>Mis habilidades</h1>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mx-auto">
            <div class="aptitudes py-5">
                
                <div class="d-flex">
                    <span>HTML</span>
                    <div class="outbox">
                        <div class="innerbox">
                        </div>
                    </div>
                    <span>95%</span>
                </div>
                <div class="d-flex">
                    <span>CSS</span>
                    <div class="outbox">
                        <div class="innerbox">

                        </div>
                    </div>
                    <span>35%</span>
                </div>
            </div>
        </div>
    </div>
</div>